

import { initializeApp } from 'firebase/app';

// TODO: Replace the following with your app's Firebase project configuration
const firebaseConfig = {
  apiKey: "AIzaSyD1NvXqJWBHPOJklTujKBPmtxhsBK19eTw",
  authDomain: "cometlinks.firebaseapp.com",
  projectId: "cometlinks",
  storageBucket: "cometlinks.appspot.com",
  messagingSenderId: "897412843394",
  appId: "1:897412843394:web:6129363b06bd53becbb19b",
  measurementId: "G-HFTB57GJDL"
};

const app = initializeApp(firebaseConfig);
